-content_for :page_title , "New users"
.row
	.col-12
		=simple_form_for(@user, validate: true) do |f|
			= f.input :file, as: :file, required: true,  validate: { presence: true } , input_html: {accept: '.csv'}
			.btn-container
				=link_to "Cancel", users_path, class: "btn btn-secondary"

				= f.submit "Upload", class: "btn btn-primary"
